
/* ==== start navigation ==== */
.navbar-nav { 
    margin-left: auto; 
} 
li a, .dropbtn {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgray;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
/* ==== end navigation ==== */


/* ===== for home, plots & comparison pages ==== */
.lat-font {
	font-size: xx-large;
	color: white;
	background-color: #2874A6;
	padding: 16px;
 }

.lat-font-humid {
	font-size: xx-large;
	color: white;
	background-color: rgb(247, 105, 129);
	padding: 16px;
}

.lat-font-maxtemp {
	font-size: xx-large;
	color: white;
	background-color: #1f740e;
	padding: 16px;
 }

.lat-font-wind {
	font-size: xx-large;
	color: white;
	background-color: #0b5f4d;
	padding: 16px;
}

.lat-font-data {
	font-size: xx-large;
	color: white;
	background-color: #3e90b1;
	padding: 16px;
}

.lat-font-compare {
	font-size: xx-large;
	color: white;
	background-color: #742b0e;
	padding: 16px;
 }

.box {
	padding: 10px;
	background: white;
	opacity: 92%;
    margin-top:50px;
    margin-left:3px;
    margin-right:0px;
    margin-bottom:10px;
	align-content: center;
}

.box-table {
	padding: 10px;
	background: white;
	opacity: 92%;
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:1000px;
}

/* bg img */
#homebg {
	background-image: url("../visualization/homepage.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
 }

#plot1bg {
	background-image: url("../visualization/maxtempbg.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
 
#plot2bg {
	background-image: url("../visualization/humidbg.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#plot3bg {
	background-image: url("../visualization/cloudbg.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#plot4bg {
	background-image: url("../visualization/windspeed.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#comparebg {
	background-image: url("../visualization/comparisonbg.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#databg{
	background-image: url("../visualization/databg.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/* ==== end for home, plots, data & comparison pages ==== */

.control-grey{
  color: gray;
}

.responsive {
	width: 100%;
	height: auto;
  }